.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 5em;
    min-width: 5em;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .Block:local-styles {
    align-self: center;
    justify-self: center;
  }


  .grid-item p {
    text-align: center;
  }
  .grid-item img {
    max-width: 40;
    max-height: 40px;
  }

  .grid-list {
    display: grid;
    max-width: 60vw;
    min-height: 30vh;
    min-width: 60vw;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    background-color: rgba(187, 255, 216, 0);
  }